/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #2c40f9;
  --ifm-color-primary-dark: #0d2bd8;
  --ifm-color-primary-darker: #682ea9;
  --ifm-color-primary-darkest: #5e75f6;
  --ifm-color-primary-light: #755ccf;
  --ifm-color-primary-lighter: #324bd8;
  --ifm-color-primary-lightest: #585af2;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
